/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', Verdana, sans-serif;
  line-height: 1.6;
  background-color: #FCF9F3;
  color: #e2e8f0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Vertical navbar on the left */
.navbar {
  width: 240px;
  background-color: #2b2b2b;
  color: #FCF9F3;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  box-sizing: border-box;
}

/* Main content area */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #1e293b;
  color: #FCF9F3;
  text-align: center;
  width: 100%;
  padding-top: 50px;
}

.header-container {
  text-align: center;
}

h1, h2, h3 {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  padding: 0.8rem 2rem;
  background-color: #21D0CD;
  color: #FCF9F3;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #A78BFA;
  color: #FCF9F3;
}

.img-container {
  text-align: center;
  padding: 25px;
}

.logo-container {
  width: 100%;
  max-height: 300px;
}

.top-of-page-container {
  background-color: #1e293b;
  width: 100%;
  min-height: 100px;
}

header {
  position: sticky;
  top: 0;
  background-color: #FCF9F3;
  z-index: 2;
}

iframe {
  width: 700px;
  height: 700px;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
    line-height: 1.5;
    margin-left: 25px;
  }

  img {
    max-width: 200px;
  }

  iframe {
    width: 350px;
    height: 350px;
  }
}